In [1]:
# Write a Python Program to Find the Factorial of a Number?

def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)


x = int(input())
print(factorial(x))

7
5040

In [2]:
# Write a Python Program to Display the multiplication Table?

x = int(input())
for i in range(1, 11):
  print(x, 'X', i, '=', x*i)

19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [3]:
# Write a Python Program to Print the Fibonacci sequence?

nterms = int(input("How many terms? "))
# first two terms
n1, n2 = 0, 1
count = 0
# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 4
Fibonacci sequence:
0
1
1
2

In [4]:
# Write a Python Program to Check Armstrong Number?


num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
   
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 876
876 is not an Armstrong number

In [5]:
# Write a Python Program to Find Armstrong Number in an Interval?

lower = 100
upper = 2000
for num in range(lower, upper + 1):
   # order of number
   order = len(str(num))
   # initialize sum
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
   if num == sum:
       print(num)

153
370
371
407
1634

In [10]:
# Write a Python Program to Find the Sum of Natural Numbers

numn = input()
numn = int(numn)
sumn = (numn*(numn+1)/2)
print(sumn)

7
28.0