In [6]:
# Write a Python program to convert kilometers to miles?

km = int(input())
miles = km * 0.621371
print('miles =', miles)

56
miles = 34.796776

In [7]:
# Write a Python program to convert Celsius to Fahrenheit?

cel = int(input())
fahren = (cel * 9/5) + 32
print('fahrenheit = ', fahren)

101
fahrenheit =  213.8

In [8]:
# Write a Python program to display calendar?

import calendar
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))
# display the calendar
print(calendar.month(yy, mm))

Enter year: 2021
Enter month: 6
     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [13]:
# Write a Python program to solve quadratic equation?

import cmath
a = int(input())
b = int(input())
c = int(input())
d = ((b**2) - (4*a*c))
sol1 = (-b - cmath.sqrt(d))/(2*a)
sol2 = (-b + cmath.sqrt(d))/(2*a)
print('The solution of the above qudratic eequation are {0} and {1}'.format(sol1,sol2))

1
5
6
The solution of the above qudratic eequation are (-3+0j) and (-2+0j)

In [14]:
# Write a Python program to swap two variables without temp variable?

x = 5
y = 10
x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5